/* Fons visai lapai */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/random/1920x1080') no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(139 138 101);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    padding: 20px;
  }
  
 
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  

  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
